* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  
  @font-face {
    font-family: Bold;
    src: url(./fonts/Bold.ttf);
  }
  
  @font-face {
    font-family: Light;
    src: url(./fonts/Light.ttf);
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: Light;
    scroll-behavior: smooth;
    /* background-color: black; */
  }
  
  .background1 {
    width: 100%;
    height: 630px;
    position: relative;
    background: url(./images/truecaller_bg.png) no-repeat;
    background-size: cover;
    background-position-y: -210px;
  }
  
  .navbar {
    width: 100%;
    position: relative;
    display: flex;
    height: 80px;
    font-weight: 600;
    justify-content: space-between;
    align-items: center;
    list-style: none;

  }
  
  .left {
    padding-left: 30px;
    color: #ffffff;
  }
  
  .left ul {
    display: flex;
  }
  
  .navItem {
    padding-left: 20px;
    font-family: Bold;
    font-size: 14px;
    text-align: start;
    line-height: 24px;
    list-style: none;
  }
  
  .navItem3 {
    padding-left: 20px;
    font-family: Bold;
    font-size: 14px;
    text-align: start;
    line-height: 24px;
    list-style: none;
  }
  
  .dropdown {
    position: absolute;
    display: none;
    border-radius: 5px;
    z-index: -1;
    cursor: pointer;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    background-color: #f1f1f1;
  }
  
  .dropdown li {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .navItem3:hover .dropdown {
    display: block;
    z-index: 1;
  }
  
  .dropdown li:hover {
    border-radius: 5px;
    background-color: #0087ff;
    color: #ffffff;
  }
  
  .right {
    padding-right: 10px;
    color: #ffffff;
  }
  
  .right ul {
    display: flex;
    align-items: center;
  }
  
  .navItem2 {
    padding-right: 30px;
    list-style: none;
    font-size: 14px;
    font-weight: 600;
    font-family: Bold;
    color: #ffffff;
  }
  
  .downloadButton {
    list-style: none;
    background-color: #0087ff;
    border-radius: 50px;
    font-family: Bold;
    font-weight: 600;
    width: 200px;
    color: #ffffff;
    height: 52px;
    padding-top: 16px;
    padding-bottom: 20px;
    padding-left: 17px;
  }

  .mainTitle {
    margin-left: 312px;
    display: flex;
    flex-direction: column;
    height: 420px;
    justify-content: space-between;
    margin-right: 312px;
    margin-top: 110px;
    background-color: #2bc01400;
  }
  
  .mTitle {
    text-align: left;
    width: 45%;
    line-height: 67.5px;
    font-weight: 80%;
    font-size: 60px;
    font-family: Bold;
    letter-spacing: -2px;
    color: #ffffff;
  }
  
  .searchBar {
    background-color: #f8fcfe;
    width: 550px;
    height: 90px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .searchInput {
    width: 375px;
    height: 88px;
    border: none;
    font-size: 16px;
    text-align: start;
    outline: 0;
  }
  
  .searchBar h3 {
    font-family: Bold;
    font-size: 14px;
    color: #0087ff;
  }
  
  .searchBar i {
    font-size: 25px;
    width: 70px;
    height: 70px;
    margin-right: -15px;
    text-align: center;
    padding-top: 24px;
    color: #ffffff;
    background-color: #0087ff;
    border-radius: 50%;
  }
  
  .store {
    display: flex;
    padding-top: 10px;
    flex-direction: row;
  }
  
  .storeItem {
    background-color: #ffffff;
    border-radius: 50px;
    margin-right: 10px;
    align-items: center;
    display: flex;
    font-size: 14px;
    font-family: Bold;
    width: 140px;
    height: 54px;
    margin-bottom: 20px;
    justify-content: space-evenly;
    flex-direction: row;
  }
  
  .storeItem2 {
    background-color: #ffffff;
    border-radius: 50px;
    margin-right: 10px;
    align-items: center;
    display: flex;
    font-size: 14px;
    font-family: Bold;
    width: 170px;
    height: 54px;
    margin-bottom: 20px;
    justify-content: space-evenly;
    flex-direction: row;
  }
  
  .storeLeft {
    margin-right: -10px;
  }
  
  .storeRight {
    display: flex;
    flex-direction: column;
    font-family: Bold;
    letter-spacing: normal;
    font-size: 14px;
  }
  
  .rating {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .posterBg {
    width: 100%;
    height: 136px;
    background-color: #ffffff;
    position: relative;
  }
  
  .poster {
    position: relative;
    display: flex;
    justify-content: center;
    padding-top: 48px;
  }
  
  .poster img {
    width: auto;
    height: 40px;
    padding-right: 48px;
  }
  
  .background2 {
    background-color: #f4f7f9;
    width: 100%;
    position: relative;
    height: 80vh;
  }
  
  .serviceMainTitle {
    font-size: 40px;
    font-family: Bold;
    text-align: center;
    padding-top: 85px;
    line-height: 45px;
    letter-spacing: -1px;
    margin-bottom: 48px;
  }
  
  .services {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin-left: 312px;
    margin-right: 312px;
  }
  
  .service {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    width: 288px;
    height: 357px;
    padding: 10px;
    justify-items: center;
  }
  
  .service img {
    width: 188px;
    height: 189px;
    padding: 30px;
  }
  
  .serviceTitle {
    font-family: Bold;
    letter-spacing: normal;
    font-size: 16px;
    text-align: center;
    line-height: 28px;
    width: 100%;
    margin-bottom: 8px;
  }
  
  .serviceSubText {
    font-size: 14px;
    font-family: Light;
    color: black;
    text-align: center;
    letter-spacing: normal;
    line-height: 24px;
  }

  .background3 {
    background-color: #f4f7f9;
  
    width: 100%;
    height: 70vh;
    position: relative;
  }
  
  .bg3Box {
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
  .bg3Left {
    height: 526.8px;
    width: 690px;
  }
  
  .bgTitle {
    color: #0087ff;
    font-size: 20px;
    font-weight: bold;
    font-family: Bold;
    text-transform: uppercase;
    line-height: 22.5px;
    text-align: start;
    letter-spacing: normal;
  }
  
  .bgSubTitle {
    font-size: 48px;
    font-family: Bold;
    letter-spacing: -0.67px;
    text-align: start;
    padding-bottom: 8px;
    padding-top: 8px;
    width: 90%;
    font-weight: 900;
    line-height: 49px;
  }
  
  .bgText {
    font-size: 16px;
    font-family: Light;
    line-height: 28px;
    letter-spacing: normal;
    text-align: start;
    width: 70%;
  }
  
  .features {
    display: flex;
    margin-top: 25px;
    flex-direction: column;
    justify-content: space-between;
    width: 420px;
  }
  
  .feature {
    display: flex;
    height: 63px;
    text-align: start;
    padding: 14px;
    border-radius: 4px;
  }
  
  .featureText {
    padding-left: 24px;
  }
  
  .featureTitle {
    font-family: Bold;
    line-height: 17.6px;
    font-size: 16px;
    letter-spacing: normal;
    text-align: left;
  }
  
  .featureSubText {
    font-family: light;
    font-size: 12px;
    line-height: 13.5px;
    text-align: left;
    letter-spacing: normal;
  }
  
  .feature:hover {
    background-color: #ffffff;
  }
  
  .seeall {
    margin-top: 30px;
    font-family: Bold;
    font-size: 14px;
    letter-spacing: normal;
    text-align: start;
    color: #0087ff;
  }
  
  .bg3Right img {
    width: 270px;
    height: 576.17px;
    background-size: cover;
  }
  
  .feature i {
    position: absolute;
    padding-left: 20%;
    width: 5px;
    height: 5px;
    color: #33b73e00;
    padding-top: 10px;
  }
  
  .feature:hover #fIcon {
    color: #0087ff;
    z-index: 1;
  }
  
  .bg3Right {
    width: 270px;
    height: 577px;
  }
  
  .f1pic {
    position: absolute;
    margin-left: 34%;
    z-index: 1;
    margin-top: -12%;
  }
  
  .f2pic {
    position: absolute;
    margin-left: 34%;
    visibility: hidden;
    z-index: 2;
    margin-top: -15.3%;
  }
  
  .f3pic {
    position: absolute;
    margin-left: 34%;
    visibility: hidden;
    z-index: 2;
    margin-top: -18.6%;
  }
  
  .f4pic {
    position: absolute;
    margin-left: 31.2%;
    visibility: hidden;
    z-index: 2;
    margin-top: -23.5%;
  }
  
  #myImg {
    width: 270px;
    height: 577px;
  }
  
  #f1:hover .f1pic {
    visibility: visible;
  }
  
  #f2:hover .f2pic {
    visibility: visible;
  }
  
  #f3:hover .f3pic {
    visibility: visible;
  }
  
  #f4:hover .f4pic {
    visibility: visible;
  }
  